# CLASSES
public net.minecraft.resources.ResourceLocation <init>(Ljava/lang/String;Ljava/lang/String;)V

# METHODS
public net.minecraft.world.level.block.Blocks never(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
public-f net.minecraft.world.level.block.Block registerDefaultState(Lnet/minecraft/world/level/block/state/BlockState;)V

# FIELDS
public net.minecraft.world.level.block.entity.BlockEntity level
public net.minecraft.world.entity.Entity level
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_TRANSLUCENT_SHADER
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard NO_OVERLAY